<!DOCTYPE html>
<html>
  <head>
    <title>BooksStoreRailsProject</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <ul class="list-group">
          <% Category.all.each do |c| %>
            <li class="list-group-item"><%= link_to c.name, "/#{c.id}" %></li>
          <% end %>
        </ul>
        <!-- <div>
          <%= debug session[:to_call_list] %>
        </div> -->

        <!-- <% if @shopping_cart_list.any? %>
          <h1>Shopping cart list</h1>
          <div class="card-deck-wrapper">
            <div class="card-deck">
              <%= render @shopping_cart_list %>
            </div>
          </div>
        <% end %> -->

        <div class="col-md-8 offset-md-2"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
