<!DOCTYPE html>
<html>
  <head>
    <title>BooksStoreRailsProject</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <ul class="list-group">
          <li class="list-group-item"><%= link_to 'CD', '/1' %></li>
          <li class="list-group-item"><%= link_to 'DVD', '/2' %></li>
          <li class="list-group-item"><%= link_to 'Blu-ray', '/3' %></li>
          <li class="list-group-item"><%= link_to 'Books', '/4' %></li>
          <li class="list-group-item"><%= link_to 'Magazine', '/5' %></li>
          <li class="list-group-item"><%= link_to 'Video Games', '/6' %></li>
        </ul>
        <div class="col-md-8 offset-md-2"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
